<div class="userInfo">
  <div class="userInfo_img">
    <%= image_tag @user.img_name.url(:thumb) %>
    <%#=image_tag 'DSC06047.jpg', :size => '600x400'%>
  </div>
  <div class='userInfo_name'><%= @user.name%></div>
  <div class='userInfo_selfIntroduction'><%= @user.self_introduction %></div>
  <%if @user==current_user%>
    <div class='userInfo_edit'><%=link_to("プロフィール編集",edit_user_registration_path)%></div>
  <%end%>
  <div class='userInfo_edit'><%=link_to("コミュニティ","/commu/menu")%></div>
</div>
